<link rel="stylesheet" type="text/css" href="game.css">

<div>Successfully Authenticated and connected to web server!!</div>

<div class="container">
    <h2>Activity History</h2>
    <div class="panel panel-default">
        <div id="game-update-box"></div>
    </div>

    <div class="main">
        <div class="table">
            <div class="board">
                <div class="card-small">
                    <p class="card-text black">A</p>
                    <p class="card-img black">&clubs;</p>
                </div>
                <div class="card-small">
                    <p class="card-text black">10</p>
                    <p class="card-img black">&spades;</p>
                </div>
                <div class="card-small">
                    <p class="card-text red">K</p>
                    <p class="card-img red">&hearts;</p>
                </div>
                <div class="card-small">
                    <p class="card-text red">Q</p>
                    <p class="card-img red">&diams;</p>
                </div>
                <div class="card-small">
                    <p class="card-text red">2</p>
                    <p class="card-img red">&diams;</p>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="/socket.io/socket.io.js"></script>

<script>
    var userid = '{{ userid }}';
    var socket = io.connect('http://localhost:3000');

    var activePlayers = [];

    socket.once('connect', function (data) {
        socket.emit('register', sessionStorage.getItem('userid'));
        sessionStorage.setItem('userid', userid);
    });

    socket.once('joined', function (data) {
        if (!activePlayers.includes(data)) {
            activePlayers.push(data);
        }
        updateHistoryBox(activePlayers);
    });


    function updateHistoryBox(activePlayers) {
        activePlayers = activePlayers.toString();

        console.log(activePlayers);
        players = activePlayers.replace(/,\s*$/, "");
        players = players.split(',');

        players.forEach(function (player) {
            jQuery('#game-update-box').append('<div class="alert alert-success" role="alert">' + player + ' joined the game</div>');
        });



    }


</script>