<link rel="stylesheet" type="text/css" href="login.css">


<form id="login-form" method="POST" action="">
    <div class="container">
        <h1>Login</h1>
        <hr>

        <label for="email"><b>Email</b></label>
        <input id="email" type="text" placeholder="Enter Email" name="email" required>

        <label for="password"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="password" required>
        <button type="submit" class="registerbtn">Login</button>
    </div>

    <div class="container signup">
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
</form>